html, body {
    margin: 0;
}



:root {
    /* Color Section*/
    --limeGreen: #25c389;
    --goldYellow: #ffb901;
    --lightredOrange: #de6262;
    --blue: #1691bd;
    --navyBlue: #166ba2;
    --MetrolicsHiglightColor: #1eafde;
    --purple: #862d9b;
    --babyBlue: #19b2de;
    --googleIcon: #e46145;
    --hoverEffectBlue: #28aed5;
    --instagramColor: #f6679c;
    --backgroundImageColor: #ebebeb;
    --footerColor: #16242f;
    --hyperLink-Color: #1bade6;
  
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

span {
    color: var(--MetrolicsHiglightColor);
    font-family: 'Ubuntu', sans-serif;
    
}
.about-website {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

.main-image {
    width: 1460px;
    height: 521px;
}

.banner {
    margin-top: -388px;
}

