html, body {
    margin: 0;
}

:root {
    /* Color Section*/
    --limeGreen: #25c389;
    --goldYellow: #ffb901;
    --lightredOrange: #de6262;
    --blue: #1691bd;
    --navyBlue: #166ba2;
    --MetrolicsHiglightColor: #1eafde;
    --purple: #862d9b;
    --photo-footer-blue: #19b2de;
    --googleIcon: #e46145;
    --hoverEffectBlue: #28aed5;
    --instagramColor: #f6679c;
    --backgroundImageColor: #ebebeb;
    --footerColor: #16242f;
    --hyperLink-Color: #1bade6;
    --font-Color: #3c3c3c;
    --fontColor-light-grey: #9b9b9b; 
}

/*Logo*/
.logo-image {
    width: 200px;
    height: 50px;
    margin-left: 22em;

}

/* Nav bar section */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -51px;
    margin-left: 30em;
    
    
}

/*Nav bar section Home section -- Green color */

.home-section {
    width: 9.5em;
    height: 8.5em;
    background-color: var(--limeGreen);
}

/* Nav bar section Pages section -- yellow color */ 
.pages-section {
    width: 9.5em;
    height: 8.5em;
    background-color: var(--goldYellow);
}

/* Nav bar section Blog -- redOrange */
.blog-section {
    width: 9.5em;
    height: 8.5em;
    background-color: var(--lightredOrange);
}
/* Nav bar section portfolio -- blue */
.portfolio-section {
    width: 9.5em;
    height: 8.5em;
    background-color: var(--blue);
}

/*Nav Bar section Home - navy blue*/
.home-section-blue {
    width: 9.7em;
    height: 8.5em;
    background-color: var(--navyBlue) ;
}


.background-icon-home {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: regular;
    margin-top: 2.5em;
    padding-left: 1em;
   

}

.background-shape-pages {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: regular;
    margin-top: 2.5em;
    padding-left: 1em;
}

.background-shape-blog {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: regular;
    margin-top: 2.5em;
    padding-left: 1em;

}

.background-shape-portfolio {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: regular;
    margin-top: 2.5em;
    padding-left: 1em;
}

.background-shape-home-blue {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: regular;
    margin-top: 2.5em;
    padding-left: 1em;
}



/*Image background color */ 

.image-background {
    width: 1500px;
    height: 550px;
    background-color: #ebebeb;
    margin: auto;
    z-index: -1;
}


/* main image */
.main-image {
    width: 1280px;
    height: 550px;  
    margin-left: 4em;
    
}





/* hgihlighted word  */
span {
    color: var(--MetrolicsHiglightColor);
    font-family: 'Ubuntu', sans-serif;
    
}

/* welcome message*/
.about-website {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}



.banner {
    margin-top: -388px;
    margin-left: 10em;
}



/* Image banner text fonts */
.metro-style-text {
    font-family:  'Ubuntu', sans-serif;
    font-weight: regular;
    color: var(--font-Color)
}

.retina-ready-text {
    font-family:  'Ubuntu', sans-serif;
    font-weight: regular;
    color: var(--font-Color);
}

.responsive-design-text {
    font-family:  'Ubuntu', sans-serif;
    font-weight: regular;
    color: var(--font-Color);
    
}


/*Welcome Message */ 
.about-website {
   text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    font-weight: lighter;
    color: var(--font-Color);
    padding-top: 5px;
}
.about-website-bottomhalf {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    font-weight: lighter;
    color: var(--font-Color);
    margin-top: -50px;
}

/*Things we do */ 

.Things-we-do-title {
    margin-top: -92px;
}

.what-we-do-text {
    margin-top: 5.5em;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    color: var(--font-Color);
    text-align: center;
}

.ask-what-we-do-text {
    font-size: 0.7em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    color: var(--font-Color);
    text-align: center;
    margin-top: -24px;
}

.whats-up-lately-image {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    margin-left: 5em;
    row-gap: 2px;
   
}



.what-we-do-icon {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin-left: 2em;
    gap: 3.3em;
    margin-top: 3.3em;

}

.web-solutions-text, .photography-text, .web-dev-text, .web-design-text {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.web-soultions-paragraph {
    text-align: center;
    text-align: justify;
    color: var(--font-Color);
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: medium;
}

.photography-paragraph {
    text-align: center;
    text-align: justify;
    color: var(--font-Color);
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: medium;
}

.webdev-paragraph {
    text-align: center;
    text-align: justify;
    color: var(--font-Color);
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: medium;

}

.webdesign-paragraph {
    text-align: center;
    text-align: justify;
    color: var(--font-Color);
    font-size: 0.9em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: medium;
    

}

 

/*Image Carousel */ 

.image-carousel1 {
    width: 368px;
    height: 276px;
  
   
    
    
}
.image-carousel2 {
    width: 368px;
    height: 276px;
}
.image-carousel3 {
    width: 368px;
    height: 276px;
}


.whats-up-lately-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    color: var(--font-Color);
    text-align: center;
}

.latest-work-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: .5em;
    color: var(--font-Color);
    text-align: center;
    margin-top: -10;
    margin-bottom: 3em;
    margin-top: -17px;

}

.sample-post-message {
    display: flex;
    margin-top: -105px;
    color: white;
}

.topic-message {
    color: white;
}

.divider-image {
   width: 89%;
   margin-left: 4em;
   margin-top: 2em;
}

.banner {
    z-index: 2;
    position: relative;
}

.metro-banner {
    background-color: #eff5fc; 
    width: 190px;
    height: 50px;
    border-left: 7px solid #166ba2;
}
.metro-style-text {
    padding-top: 12px;
    padding-left: 15px;
    font-size: 1.3em;
}
.retina-banner {
    background-color: #eff5fc; 
    width: 210px;
    height: 50px;
    border-left: 7px solid #df6260;
    margin-top: -20px;
   
    
}
.retina-ready-text {
    padding-top: 12px;
    padding-left: 15px;
    font-size: 1.3em;
}

.responsive-banner {
    background-color: #eff5fc; 
    width: 270px;
    height: 50px;
    border-left: 7px solid #fcbb00;
    margin-top: -20px; 
}

.responsive-design-text {
    padding-top: 12px;
    padding-left: 15px;
    font-size: 1.3em;
}

.image--footer {
    background-color: #19b2de;
    width: 50px;
    height: 20px;
    z-index: 2;
    position: relative;
}












